/* font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace; */

body {
    align-content: center;
    background-color: #9b6631;
    color: white;
    text-align: center;
    
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}

.burger{
    padding: 10px;
}